  /* icomoon */
  @font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?t1nvuf");
    src: url("../fonts/icomoon.eot?t1nvuf#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?t1nvuf") format("truetype"),
      url("../fonts/icomoon.woff?t1nvuf") format("woff"),
      url("../fonts/icomoon.svg?t1nvuf#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-arrow-up:before {
    content: "\ea32";
  }
  .icon-arrow-up2:before {
    content: "\ea3a";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-circle-up:before {
    content: "\ea41";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-mail4:before {
    content: "\ea86";
  }