/* contact form */

.form-container {
    display: block;
    width: 100%;
    height: 943px;
  }
  
  .form-container .iframe {
    height: 943px;
  }
  
  .iframe {
    width: 100%;
    overflow: hidden;
  }
  
  .form {
    width: 80%;
    margin: auto;
  }
  
  .form-field {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .form-field input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--main-color);
    color: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: var(--silver);
  }
  
  .form-field input[type="tel"] {
    width: auto;
  }
  
  .form-field textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid var(--main-color);
    color: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: var(--silver);
  }
  
  .form-submit button {
    margin: 0;
  }
  
  /* company info */

  .company-info h3 {
    font-size: 2em;
  }
  
  .company-info p {
    font-size: 1.25em;
  }

  @media screen and (min-width: 1024px) {
    .company-container {
        display: flex;
        gap: 10px
    }
  
    .company-info, .company-map {
        flex-basis: 50%;
    }
  
  }
  